.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cardFlow{
  display: flex;
  flex-wrap: wrap;
  overflow:auto;
  height: 93.5vh;
}

.mini-text{
font-size: .7rem;
}

.card-container{
  height: 50%;
}

.maxHeight{
  height: 100vh;
}